# Data Load

In [1]:
import os
import config
import json
import pandas as pd
from tqdm import tqdm

In [2]:
pwd = "/Users/seonghwanpark/Google Drive/내 드라이브/Hackathon/data/"

# Train

In [3]:
# session_2/train, session_3/train, session_4/train
df_list = []

for i in tqdm(range(3)):
    path = pwd + "session_" + str(i+2) + "/train/"
    entries = os.listdir(path)

    for k, entry in enumerate(entries):
        with open(path+str(entry)) as f:
            globals()['js_{}{}'.format(i+2, k+1)] = json.loads(f.read())
            globals()['df_{}{}'.format(i+2, k+1)] = pd.DataFrame(globals()['js_{}{}'.format(i+2, k+1)]['sessionInfo'][0]['dialog'])
            df_list.append(globals()['df_{}{}'.format(i+2, k+1)])

100%|█████████████████████████████████████████████| 3/3 [01:39<00:00, 33.02s/it]

In [4]:
# 확인용
df_list_check = []

for i in range(3):
    path = pwd + "session_" + str(i+2) + "/train/"
    entries = os.listdir(path)
    for k in range(len(entries)):
        df_list_check.append(f'df_{i+2}{k+1}')

print(df_list_check[::len(df_list_check)-1])

['df_21', 'df_46020']

In [5]:
path = pwd + "session_4/train/"
len(os.listdir(path))

6020

In [6]:
df_train = pd.concat(df_list)

In [7]:
df_train.head()

    speaker personaID                utterance       summary terminate
0  speaker1     21837    처음뵙겠습니다. 저는 20대 여성입니다  나는 20대 여성이다.     false
1  speaker2     30852     반갑습니다. 저는 30대 남자입니다.   나는 30대 남자이다     false
2  speaker1     21837  저는 통역가입니다. 하시는일이 있으신가요?     나는 통역가이다.     false
3  speaker2     30852        저는 개발자로 일하고 있습니다.      나는 개발자이다     false
4  speaker1     21837     그러시군요. 하시는일은 만족하시나요?                   false

In [8]:
df_train.tail()

,speaker,personaID,utterance,summary,terminate
10,speaker2,22459,아 김밥은 싫어하시나봐요!. 저는 양식이나 파스타를 좋아합니다. 혹시 즐겨하시는 취...,나는 양식이나 파스타를 좋아하고 SF영화를 싫어한다,false
11,speaker1,11296,저는 공포영화 싫어해요! 어렸을적 공포영화본 후로 가끔씩 두려워질때가 있거든요..!,나는 공포 영화를 싫어한다. 나는 가끔 두렵다.,false
12,speaker2,22459,어렸을 때 공포 영화 몰래 봤다가 무서워서 계속 못보는 분들이 많이 있더라구요. 저...,나는 공포영화를 잘 못본다,false
13,speaker1,11296,맞아요 살짝 어린시절에 트라우마가 많이 생기듯 저도 공포영화 트라우마가 생겼습니다..~,나는 공포 영화에 대한 트라우마가 생겼다.,false
14,speaker2,22459,저랑 비슷한 경험을 하셨네요!.. 아 오늘 즐거운 대화 였습니다. 저는 일이 있어서...,,true

In [9]:
df_train.shape

(342390, 5)

In [10]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 342390 entries, 0 to 14
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   speaker    342390 non-null  object
 1   personaID  342390 non-null  object
 2   utterance  342390 non-null  object
 3   summary    342390 non-null  object
 4   terminate  342390 non-null  object
dtypes: object(5)
memory usage: 15.7+ MB

# Validation

In [11]:
import config

In [12]:
# session_2/validation/format_train, session_3/validation/format_train, session_4/validation/format_train
df_list_val = []

for i in tqdm(range(3)):
    path = pwd + "session_" + str(i+2) + "/validation/format_train/"
    entries = os.listdir(path)
    for k, entry in enumerate(entries):
        with open(path+str(entry)) as f:
            globals()['js_val_{}{}'.format(i+2, k+1)] = json.loads(f.read())
            globals()['df_val_{}{}'.format(i+2, k+1)] = pd.DataFrame(globals()['js_val_{}{}'.format(i+2, k+1)]['sessionInfo'][0]['dialog'])
            df_list_val.append(globals()['df_val_{}{}'.format(i+2, k+1)])

100%|█████████████████████████████████████████████| 3/3 [00:02<00:00,  1.08it/s]

In [13]:
# 확인용
df_list_check = []

for i in range(3):
    path = pwd + "session_" + str(i+2) + "/validation/format_train/"
    entries = os.listdir(path)
    for k in range(len(entries)):
        df_list_check.append(f'df_val_{i+2}{k+1}')

print(df_list_check[::len(df_list_check)-1])

['df_val_21', 'df_val_4250']

In [14]:
for i in range(3):
    path = pwd + f"session_{i+2}/validation/format_train/"
    print(len(os.listdir(path)))

200
250
250

In [15]:
df_val = pd.concat(df_list_val)

In [16]:
df_val.head()

,speaker,personaID,utterance,summary,terminate
0,speaker1,50219,안녕하세요. 저는 50대 남성입니다.,나는 50대 남성이다,false
1,speaker2,26117,안녕하세요. 저는 20대 여성입니다.,나는 20대 여성이다.,false
2,speaker1,50219,"저는 벤처기업 이사인데, 어떤 일을 하세요?",나는 벤처기업 이사다,false
3,speaker2,26117,저는 대학생 입니다. 행정학 전공하고 있어요.,나는 행정학을 전공하는 대학생이다.,false
4,speaker1,50219,그렇군요. 문과 나오셨으면 전공 결정하기가 쉽지 않았을 것 같은데 어떠셨어요,,false

In [17]:
df_val.tail()

,speaker,personaID,utterance,summary,terminate
9,speaker2,32122,요즘 계절엔 발라드도 좋은것 같아요~! 날씨가 많이 추워졌죠?,나는 요즘 계절엔 발라드가 좋다,false
10,speaker1,51449,일교차가 심해서 감기 조심해야겠어요~싫어하는 음식 있으세요? 저는 싱거운 음식을 싫...,나는 싱거운 음식을 싫어한다.,false
11,speaker2,32122,"저는 미역줄기를 싫어해요.. 비린내가 많이 나더라구요 저한테는,..",나는 미역줄기가 비린내가 나서 싫다,false
12,speaker1,51449,저는 미역줄기를 좋아하는데 제 딸도 싫어하더라구요~,나는 딸이 있다.,false
13,speaker2,32122,개인마다 입맛이 달라서 그런가봐요~! 야식 배달이와서 이만 나가봐야 할 것 같아요~!,나는 야식 배달이 왔다,true

In [18]:
df_val.shape

(10942, 5)

In [19]:
df_val.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10942 entries, 0 to 13
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   speaker    10942 non-null  object
 1   personaID  10942 non-null  object
 2   utterance  10942 non-null  object
 3   summary    10942 non-null  object
 4   terminate  10942 non-null  object
dtypes: object(5)
memory usage: 512.9+ KB

# Test

In [20]:
# session_2/validation/format_train, session_3/validation/format_train, session_4/validation/format_train
df_list_test = []

for i in tqdm(range(3)):
    path = pwd + "session_" + str(i+2) + "/validation/format_test/"
    entries = os.listdir(path)
    for k, entry in enumerate(entries):
        with open(path+str(entry)) as f:
            globals()['js_test_{}{}'.format(i+2, k+1)] = json.loads(f.read())
            globals()['df_test_{}{}'.format(i+2, k+1)] = pd.DataFrame(globals()['js_test_{}{}'.format(i+2, k+1)]['sessionInfo'][0]['dialog'])
            df_list_test.append(globals()['df_test_{}{}'.format(i+2, k+1)])

100%|█████████████████████████████████████████████| 3/3 [00:01<00:00,  2.95it/s]

In [21]:
# 확인용
df_list_check = []

for i in range(3):
    path = pwd + "session_" + str(i+2) + "/validation/format_test/"
    entries = os.listdir(path)
    for k in range(len(entries)):
        df_list_check.append(f'df_test_{i+2}{k+1}')

print(df_list_check[::len(df_list_check)-1])

['df_test_21', 'df_test_4250']

In [22]:
for i in range(3):
    path = pwd + f"session_{i+2}/validation/format_test/"
    print(len(os.listdir(path)))

200
250
250

In [23]:
df_test = pd.concat(df_list_test)

In [24]:
df_test.head()

,speaker,personaID,utterance,summary,terminate
0,speaker1,50219,32시간이 흘렀네요. 시간이 쏜살같네요.,,false
1,speaker2,26117,그러게요. .. 빨리 흘러가네요...,,false
2,speaker1,50219,20대시면 주변에 결혼해서 아기 낳은 친구도 있으신가요?,,false
3,speaker2,26117,아직 대학생이라서 없어요. 결혼은 아직 먼 이야기 인거 같아요,나는 대학생이다. 나는 결혼은 아직 먼 이야기라 생각한다.,false
4,speaker1,50219,요즘 젊은이들은 딩크에 대해 어떻게 생각하세요?,나는 요즘 젊은이들이 딩크에 어떻게 생각하는지 궁금하다,false

In [25]:
df_test.tail()

,speaker,personaID,utterance,summary,terminate
5,speaker2,20979,맞아요 정말 홈쇼핑 쇼호스트들이 구매욕 자극하게 멘트를 하는 것 같아요,,false
0,speaker1,51449,14시간 만이네요~잘 지내셨나요?,,false
1,speaker2,32122,어제 일 열심히하고 푹 잤더니 몸이 한결 낫네요~! 요즘 제주도 날씨는 어떤가요??,나는 어제 푹 잤더니 몸이 한결 낫다.,false
2,speaker1,51449,좋아요~일교차가 있지만 볕이 좋아서 낮에 날씨가 너무 좋아요^^,,false
3,speaker2,32122,아 다행이네요! 제주도도 안간지 오래되서 여행으로 가고 싶어요! 요즘도 여행객이 많...,나는 제주도로 여행 가고 싶다,false

In [26]:
df_test.shape

(4494, 5)

In [27]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4494 entries, 0 to 3
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   speaker    4494 non-null   object
 1   personaID  4494 non-null   object
 2   utterance  4494 non-null   object
 3   summary    4494 non-null   object
 4   terminate  4494 non-null   object
dtypes: object(5)
memory usage: 210.7+ KB

# Save

In [28]:
df_train.to_json(config.train_data, orient="records")

In [29]:
df_val.to_json(config.val_data, orient="records")

In [30]:
df_test.to_json(config.test_data, orient="records")